nav{
  padding-top: 1.5em;
}
img.navbar-brand{
  width: 10%;
}
.navbar-nav.navleft {
  margin-left: 10rem;
}
ul.navbar-nav {
  margin: 0;
}
.navbar {
  align-items: flex-start;
  position: relative;
}
.navbar .navbar-brand, .navbar .navbar-nav {
  transition:  2s;
  -webkit-transition: 2s;
}
.nav-item{
  margin-left: 0.7em;
  font-size: 0.9em;
}
button.btn.searchIcon{
  font-size: 1.4em;
  padding-top: 0.18rem;
  padding-bottom: 0.18rem;
  width: 2em;
  display: inline;
}
.form-control{
  height: 1.8em;
  width: 20em;
  display: inline;
  margin-top: 0.18rem;
  font-size: 1em;
  padding: 1em;
}
li > form {
  align-items: center;
  display: inline;
}
.navright{
  position: absolute;
  right: 1em;
}
.dropdown-menu{
  background-color: rgba(38, 38, 38, 0.9);
  text-align: right;
}
.dropdown-item{
  font-size: 0.8em;
}
.dropdown-item:hover{
  background-color: transparent;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  background-color: rgba(48, 48, 48, 0.9);
  height: 5em;
}
.sticky, .sticky .navbar-brand, .sticky .navbar-nav, .dropdown-menu, .dropdown-menu.show {
  transition:  2s;
  -webkit-transition: 2s;
}
.sticky .navleft {
  margin-left: 5em;
}
.sticky img.navbar-brand{
  width: 3em;
  position: fixed;
  top: 0.2em;
}
