<app-headermobile></app-headermobile>
<nav id="topNav" class="navbar navbar-expand-sm flex-element content-top position-relative">
  <!-- Brand -->
  <img class="navbar-brand" alt="Our Logo" src="assets/logo.jpg">

  <!-- Links -->
  <ul class="navbar-nav navleft">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Products
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="searchp">Desktop</a>
        <a class="dropdown-item" routerLink="searchp">Mobile</a>
        <a class="dropdown-item" routerLink="searchp">Web</a>
      </div>
    </li>
    <li class="nav-item">
      <button class="nav-link btn bg-transparent btn-link searchIcon datadrop-apply" data-target="#searchslide"><i class="fas fa-search"></i></button>
      <input class="form-control" id="searchslide" type="text" placeholder="Search" style="display: none;" data-direction="left" data-effect="slide">
    </li>
  </ul>
  <ul class="navbar-nav navright position-absolute">
    <li class="nav-item">
      <a class="nav-link" href="#">Join us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Login</a>
    </li>
  </ul>
</nav>
