<div class="row">
  <h2 class="col-md-12">0 Results found</h2>
  <div class="col-md-2">
    Filter
  </div>
  <div class="col-md-10">
    <div id="search-2" class="col-sm-6 offset-sm-3">
      <input type="text" class="form-control col-sm-9 bg-seventh focus-bg-seventh"  placeholder="Search" >
      <button type="submit" class="btn bg-transparent text-secondary">
        <i class="fas fa-search"></i>
      </button>
    </div>
    <div class="show async-apply col-sm-6 offset-sm-3">
      <span class="actor text-secondary" id="_1" data-stageduration= "500" data-effect="toggle-class" data-class="text-third"><i class="fas fa-circle"></i></span>
      <span class="actor text-secondary curactor" data-stageduration= "500" id="_2" data-effect="toggle-class" data-class="text-third"><i class="fas fa-circle"></i></span>
      <span class="actor text-secondary" id="_3" data-stageduration= "500"  data-effect="toggle-class" data-class="text-third"><i class="fas fa-circle"></i></span>
    </div>
  </div>
</div>

