<div>
  <h2>0 Results found</h2>
  <div id="search-2" class="flex-element content-right">
    <div class="position-relative">
      <input type="text" class="form-control bg-seventh focus-bg-seventh"  placeholder="Search" >
      <button type="submit" class="btn bg-transparent position-absolute flex-element content-vcenter content-hcenter">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>
  <div id="bodySearch">
    <div class="bg-seventh body-part body-left">
      <h3>Project filter</h3>
      <div class="form-group">
      <select class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
      <select class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
        <select class="form-control">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <h3>Final product filter</h3>
    </div>
    <div class="bg-seventh body-part body-right">
      <div class="show async-apply">
        <span class="actor text-secondary" id="_1" data-stageduration= "500" data-effect="toggle-class" data-class="text-third"><i class="fas fa-circle"></i></span>
        <span class="actor text-secondary curactor" data-stageduration= "500" id="_2" data-effect="toggle-class" data-class="text-third"><i class="fas fa-circle"></i></span>
        <span class="actor text-secondary" id="_3" data-stageduration= "500"  data-effect="toggle-class" data-class="text-third"><i class="fas fa-circle"></i></span>
      </div>
    </div>
  </div>
</div>

