<div class="show">
  <span class="actor text-secondary" id="_1" data-stageduration= "500" data-effect="toggle-class" data-class="text-third"><i class="fas fa-circle"></i></span>
  <span class="actor text-secondary curactor" data-stageduration= "500" id="_2" data-effect="toggle-class" data-class="text-third"><i class="fas fa-circle"></i></span>
  <span class="actor text-secondary" id="_3" data-stageduration= "500"  data-effect="toggle-class" data-class="text-third"><i class="fas fa-circle"></i></span>
</div>
