h1{
  font-size: 1em;
  padding: 0.5em 1em;
  margin-bottom: 2em;
}
.actor{
  width: 100%;
  height: 17em;
  text-align: center;
  font-size: 2em;
}
.show{
  height: 40em;
  margin-bottom: 22em;
}
#projs h1 {
  text-align: right;
}
