h1{
  font-size: 1em;
  padding: 0.5em 1em;
  margin-bottom: 2em;
}
.actor{
  position: relative;
  width: 100%;
  height: 40em;
}
.actor-bg {
  background-repeat: no-repeat, repeat;
  background-size: cover;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
.actor-bg .layer {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.actor .actor-content {
  filter: blur(0px);
  -webkit-filter: blur(0px);
  z-index: 5;
  font-size: 2em;
}
.actor-content img.image-pos {
  width: 50%;
  height: 80%;
  display: block;
  position: absolute;
  top: 3em;
  bottom: 3em;
}
.image-left{
  left: 1em;
}
.image-right{
  right: 1em;
}
.actor-content .descr {
  width: 43%;
  max-height: 80%;
  overflow-y: auto;
  position: absolute;
  top: 3em;
  bottom: 3em;
}
.descr-right {
  right: 1em;
}
.descr-left {
  left: 1em;
}
.actor-content .descr h2{
  font-size: 1em;
  font-weight: 900;
}
.actor-content .descr p{
  font-size: 0.7em;
}
.actor-content, .actor-bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.show{
  position: relative;
  height: 40em;
  margin-bottom: 22em;
  clear: both;
}
.error {
  display: block;
  width: 100%;
  text-align: center;
  margin: 20% auto;
}
h1#projs {
  text-align: right;
}
.navOpt {
  width: 50%;
  margin: 2.5em auto;
  padding-left: 19%;
}
.navOpt .fa-circle {
  margin: 0 0.7em;
  font-size: 0.4em;
}
.navOpt .fa-angle-left, .navOpt .fa-angle-right {
  margin: 0 0.3em;
  font-size: 1.7em;
}
.navOpt .currentDot {
  color: white;
}
