<app-header></app-header>
<main>
  <span class="show-spectator watcher" data-show='#news'></span>
  <h1>News</h1>
  <div class="show" *ngIf="news.length == 0">
    <div class="actor-bg" [ngStyle]="setBGDefault()"><div class="layer"></div></div>
    <div class="actor-content">
        <h2 class="error">No Recent News found</h2>
    </div>
  </div>
  <div class="show async-apply" id="news" *ngIf="news.length > 0">
    <ng-template ngFor let-item [ngForOf]="news" let-i="index">
    <div class="{{getActorClass(i)}}" >
      <div class="actor-bg" [ngStyle]="setBG(i)"><div class="layer"></div></div>
      <div class="actor-content">
        <img class="image-pos image-left" src="{{news[i].photos[0]}}">
        <div class="descr descr-right">
          <h2><a href="#">{{news[i].title}}</a></h2>
          <p>{{news[i].intro}}</p>
        </div>
      </div>
    </div>
      <div class="navOpt" *ngIf="i == news.length-1">
        <button class="skip-actor-prev btn-link btn"><i class="fas fa-angle-left"></i></button>
        <button class="show-spectator btn-link btn skip-index currentDot" data-show="#news" data-obs="0"><i class="fas fa-circle"></i></button>
        <button class="show-spectator btn-link btn skip-index" data-show="#news" data-obs="1"><i class="fas fa-circle"></i></button>
        <button class="show-spectator btn-link btn skip-index" data-show="#news" data-obs="2"><i class="fas fa-circle"></i></button>
        <button class="skip-actor-next btn-link btn"><i class="fas fa-angle-right"></i></button>
        <br>
        <a class="bttmLink" href="#">Read all news</a>
      </div>
    </ng-template>
  </div>

  <span class="show-spectator watcher" data-show='#projsShow'></span>
  <h1 id="projs">Running projects</h1>
  <div class="show" *ngIf="products.length == 0">
    <div class="actor-bg" [ngStyle]="setBGDefault()"><div class="layer"></div></div>
    <div class="actor-content">
        <h2 class="error">No Running Projects found</h2>
    </div>
  </div>
  <div class="show async-apply" id="projsShow" *ngIf="products.length > 0">
    <ng-template ngFor let-item [ngForOf]="products" let-i="index">
      <div class="{{getActorClass(i)}}">
        <div class="actor-bg" [ngStyle]="setBGPr(i)"><div class="layer"></div></div>
        <div class="actor-content">
          <img class="image-pos image-right" src="{{item.logo}}">
          <div class="descr descr-left">
            <h2><a href="#">{{item.name}}</a></h2>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" [ngStyle]="setPB(i)">
                {{getProgress(i)}}% completed
              </div>
            </div>
            <p>{{item.briefDescr}}</p>
          </div>
        </div>
      </div>
      <div class="navOpt" *ngIf="i == products.length-1">
        <button class="skip-actor-prev btn-link btn"><i class="fas fa-angle-left"></i></button>
        <button class="show-spectator btn-link btn skip-index currentDot" data-show="#projsShow" data-obs="0"><i class="fas fa-circle"></i></button>
        <button class="show-spectator btn-link btn skip-index" data-show="#projsShow" data-obs="1"><i class="fas fa-circle"></i></button>
        <button class="show-spectator btn-link btn skip-index" data-show="#projsShow" data-obs="2"><i class="fas fa-circle"></i></button>
        <button href="#" class="skip-actor-next btn-link btn"><i class="fas fa-angle-right"></i></button>
        <a class="bttmLink" href="#">See all projects</a>
      </div>
    </ng-template>
  </div>
</main>
<app-footer></app-footer>
