<app-header></app-header>
<main>
  <div class="show" id="news">
    <h1>News</h1>
    <div class="actor curactor bg-info" data-effect="slide">News 1</div>
    <div class="actor bg-success" data-effect="blind" data-stageduration="2000">News 2</div>
    <div class="actor bg-danger">News 3</div>
  </div>
  <div class="show" id="projs">
    <h1>Running projects</h1>
    <div class="actor bg-info" data-effect="slide">Proj 1</div>
    <div class="actor bg-success" data-effect="blind">Proj 2</div>
    <div class="curactor actor bg-danger">Proj 3</div>
  </div>
</main>
<app-footer></app-footer>
